<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/" {% if REQUEST_PATH == "/" %}class="active" {% endif %}>
                    <i class="fa fa-dashboard fa-fw"></i> Главная
                </a>
            </li>
        </ul>
    </div>
</div>