{% if paginator %}
<div class="text-center">
    <ul class="pagination">
        {% if paginator.curr_page > 1 %}
        <li><a href="{{ paginator.a_first }}"><i class="glyphicon glyphicon-fast-backward"></i></a></li>
        {% else %}
        <li class="disabled"><a><i class="glyphicon glyphicon-fast-backward"></i></a></li>
        {% endif %}

        {% if paginator.has_prev %}
        <li><a href="{{ paginator.a_prev }}"><i class="glyphicon glyphicon-backward"></i></a></li>
        {% else %}
        <li class="disabled"><a><i class="glyphicon glyphicon-backward"></i></a></li>
        {% endif %}

        {% for a, page in paginator.prev_links %}
        <li><a href="{{ a }}">{{ page }}</a></li>
        {% endfor %}

        <li class="active"><a>{{ paginator.curr_page }}</a></li>

        {% for a, page in paginator.next_links %}
        <li><a href="{{ a }}">{{ page }}</a></li>
        {% endfor %}

        {% if paginator.has_next %}
        <li><a href="{{ paginator.a_next }}"><i class="glyphicon glyphicon-forward"></i></a></li>
        <li><a href="{{ paginator.a_last }}"><i class="glyphicon glyphicon-fast-forward"></i></a></li>
        {% else %}
        <li class="disabled"><a><i class="glyphicon glyphicon-forward"></i></a></li>
        <li class="disabled"><a><i class="glyphicon glyphicon-fast-forward"></i></a></li>
        {% endif %}
    </ul>
</div>
{% endif %}