{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}
    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">Сервис</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include "layout/flashes.html" %}
                <p>Нашим сервисом уже воспользовалось пользователей: {{ data.total_users }}.</p>
            </div>
        </div>
    </div>
{% include "layout/footer.html" %}