{% import "layout/wtforms_macros.html" as wtforms %}

{% include "layout/header.html" %}


    <div id="page-wrapper">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Пользователь #{{ user.id }}.
                </h1>
            </div>
        </div>
        {% include "layout/flashes.html" %}

        <div class="row">
            <div class="col-xs-6">
                <ul>
                    <li>Email: {{ user.email }}</li>
                    <li>Дата регистрации: {{ user.datecreated }}</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">
                    Смена настроек
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6">
                <form action="/admin/users/{{ user.id }}/change" method="POST">
                    {{ wtforms.form_field(form.password, with_label=True) }}

                    <input class="btn btn-danger" type="reset" value="Отменить ">
                    <input class="btn btn-success" type="submit" value="Сменить">
                </form>
            </div>
        </div>

        <p>&nbsp;</p>
    </div>

{% include "layout/footer.html" %}